.example-form {
  min-width: 150px;
  max-width: 800px;
  width: 60%;
}

.example-full-width {
  width: 130%;
  margin-left: 40px;
}

.signup{
  margin-left: 160px;
}

.login{
  margin-left: 35px;
}

.card-design{
  background-image: url('/assets/images.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
margin-top: 150px;
width: 30%;
margin-left: 28rem
}

.button-design{
 margin-left:40px;

}